
body {

	font-family:Verdana;
	size:0.8em;
}

html {

	font-family:Verdana;
	size:0.8em;
	
}

fieldset,input,textarea, select, .bottoned{

padding:4px;margin:2px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid #003366;

background-color:#D6EAF8;



}
.round{

padding:1px;margin:1px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #003366;

background-color:#D6EAF8;


}

hr{border:1px solid #003366;}

a, h1, h2, h3, h4{color:#003366;}